/* Light Theme (Root) */
:root {
    /* Primary */
    --color-primary-dark: #495DE2;    
    --color-primary-darker: #5166F1;
    --color-primary-base: #556BFC;  
    --color-primary-alpha-16: rgba(85, 107, 252, 0.16);
    --color-primary-alpha-10: rgba(85, 107, 252, 0.10);
    /* Secondary */
    --color-secondary-dark: #262626;
    --color-secondary-base: #737373; 
    --color-secondary-alpha-16: rgba(8, 8, 8, 0.16); 
    --color-secondary-alpha-10: rgba(8, 8, 8, 0.10);
    /* Base */
    --color-static-black: #171717; 
    --color-static-white: #FFFFFF; 
    /* Background */
    --color-bg-strong-950: #171717; 
    --color-bg-surface-800: #262626; 
    --color-bg-sub-300: #D1D1D1; 
    --color-bg-soft-200: #EBEBEB;
    --color-bg-week-50: #F7F7F7; 
    --color-bg-white-0: #FFFFFF;
    /* Text */
    --color-text-strong-950: #171717;
    --color-text-sub-600: #5C5C5C; 
    --color-text-soft-400: #A3A3A3; 
    --color-text-disabled-300: #D1D1D1; 
    --color-text-white-0: #FFFFFF;
    /* Stroke */
    --color-stroke-strong-950: #171717;
    --color-stroke-sub-300: #D1D1D1;
    --color-stroke-soft-200: #EBEBEB;
    --color-stroke-white-0: #FFFFFF;
    /* Icon */
    --color-icon-strong-950: #171717;
    --color-icon-sub-600: #5C5C5C;
    --color-icon-soft-400: #A3A3A3;
    --color-icon-disabled-300: #D1D1D1;
    --color-icon-white-0: #FFFFFF;
    /* State Colors */
    /* Information (Blue) */
    --color-info-dark: #17194F;   
    --color-info-base: #556BFC;
    --color-info-light: #C3D6FF;
    --color-info-lighter: #EDF3FF;
    /* Warning (Orange) */
    --color-warning-dark: #71330A;
    --color-warning-base: #FA7319;
    --color-warning-light: #FFD9C0;
    --color-warning-lighter: #FFF3EB;
    /* Error (Red) */
    --color-error-dark: #681219;
    --color-error-base: #FB3748;
    --color-error-light: #FFC0C5;
    --color-error-lighter: #FFEBEC;
    /* Success (Green) */
    --color-success-dark: #0B4627;
    --color-success-base: #1FC16B;
    --color-success-light: #C2F5DA;
    --color-success-lighter: #F0FDF4;

    --sidebar-background: #F7F7F7;
    --sidebar-foreground: #171717;
    --sidebar-primary: #556BFC;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: rgba(85, 107, 252, 0.10);
    --sidebar-accent-foreground: #171717;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: rgba(85, 107, 252, 0.0);
}

/* Dark Theme */
.dark {
    /* Primary */
    --color-primary-dark: #6386F9;    
    --color-primary-darker: #849FF8; 
    --color-primary-base: #7595FF;   
    --color-primary-alpha-16: rgba(117, 149, 255, 0.16);
    --color-primary-alpha-10: rgba(117, 149, 255, 0.10);
    /* Secondary */
    --color-secondary-dark: #D4D4D4;
    --color-secondary-base: #F7F7F7; 
    --color-secondary-alpha-16: rgba(255, 255, 255, 0.16); 
    --color-secondary-alpha-10: rgba(255, 255, 255, 0.10);
    /* Static */
    --color-static-black: #171717; 
    --color-static-white: #FFFFFF;
    /* Background */
    --color-bg-strong-950: #FFFFFF; 
    --color-bg-surface-800: #EBEBEB; 
    --color-bg-sub-300: #5C5C5C; 
    --color-bg-soft-200: #333333; 
    --color-bg-week-50: #171717; 
    --color-bg-white-0: #1C1C1C; 
    /* Text */
    --color-text-strong-950: #FFFFFF;
    --color-text-sub-600: #A3A3A3; 
    --color-text-soft-400: #7B7B7B; 
    --color-text-disabled-300: #5C5C5C; 
    --color-text-white-0: #171717;
    /* Stroke */
    --color-stroke-strong-950: #FFFFFF;
    --color-stroke-sub-300: #5C5C5C;
    --color-stroke-soft-200: #333333;
    --color-stroke-white-0: #171717;
    /* Icon */
    --color-icon-strong-950: #FFFFFF;
    --color-icon-sub-600: #A3A3A3;
    --color-icon-soft-400: #7B7B7B;
    --color-icon-disabled-300: #5C5C5C;
    --color-icon-white-0: #171717;
    /* State Colors */
    /* Information (Blue) */
    --color-info-dark: #9DB1FF; 
    --color-info-base: #7893FF; 
    --color-info-light: rgba(120, 147, 255, 0.24);
    --color-info-lighter: rgba(120, 147, 255, 0.16);
    /* Warning (Orange) */
    --color-warning-dark: #FFA468; 
    --color-warning-base: #FA7319;
    --color-warning-light: rgba(250, 115, 25, 0.24);
    --color-warning-lighter: rgba(250, 115, 25, 0.16);
    /* Error (Red) */
    --color-error-dark: #FF6875; 
    --color-error-base: #FB3748;
    --color-error-light: rgba(247, 140, 149, 0.24);
    --color-error-lighter: rgba(247, 140, 149, 0.16);
    /* Success (Green) */
    --color-success-dark: #3EE089; 
    --color-success-base: #1FC16B;
    --color-success-light: rgba(31, 193, 107, 0.24);
    --color-success-lighter: rgba(31, 193, 107, 0.16);

    --sidebar-background: #171717;
    --sidebar-foreground: #FFFFFF;
    --sidebar-primary: #7595FF;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: rgba(117, 149, 255, 0.16);
    --sidebar-accent-foreground: #FFFFFF;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: rgba(85, 107, 252, 0.0);
}
